DATABASE_URL=file:data/board.db
DATABASE_AUTH_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
CRON_SECRET=
